.icon {
  overflow: hidden;
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
}

body,
html {
  width: 100%;
  height: 100%;
  color: #333;
}

.main_box_shadow {
  box-shadow: 0 2px 5px 0 #ccc;
}

.main_border {
  border: 1px solid #ccc;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade_out {
  100% {
    opacity: 0;
    display: none;
    width: 0;
  }
}
